.section.contact{
  background-color: #CCF390;

  input, textarea {
    padding-left: 40px;
    font-size: 16px;
    color: $suaveGrey;

    border: none;
    border-radius: 0;

    &:focus {
      box-shadow: 0 3px 0 0 $mossGreen;
    }

    &.is-valid {
      box-shadow: 0 3px 0 0 $jawsBlue;
    }

    &.email-invalid, &.required-invalid {
      box-shadow: 0 3px 0 0 $passionateRed;
    }
  }

  .button-primary {
    background-color: $mossGreen;
    border: none;
    border-radius: 0;

    &:hover{
      background-color: $suaveGrey;

    }
  }

  .wrapper-input-email {
    position: relative;

    &:before{
      content:"\f0e0";
      font-family: FontAwesome;
      font-size: 18px;
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }
  .wrapper-textarea-message{
    position: relative;

    &:before{
      content:"\f040";
      font-family: FontAwesome;
      font-size: 18px;
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }

  .validation-notification{

    margin-bottom: 1.5rem;
    padding: 0.7% 3% 0.5% 3%;

    background-color: $passionateRed;
    color: white;
    font-weight: 400;

    &.email {
      margin-top: -1.5rem;
    }
    &.message {
      margin-top: -22px;
    }
  }

  .contact-icon-row {
    margin-top: 8.333%;
  }
  .contact-icon-column {
    text-align: center;


    .fa-stack-1x {
      color: $milkshakeGreen;
    }

    a{
      color: $mossGreen;
      text-decoration: none;

      &:hover{
        color: $suaveGrey;
      }
    }
  }


  background-image: url('#{$imgDir}doodle_02.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;

  color: $suaveGrey;
}
