.section.contact{
  background-color: #CCF390;
  color: $suaveGrey;

  h5 {
    letter-spacing: .05rem;
    font-weight: 400;
    font-style: oblique;

    font-size: 2rem;
    @media (#{$bp-larger-than-tablet}) {
      font-size: 2.4rem;
    }
  }

  input, textarea {
    padding-left: 40px;
    font-size: 16px;
    color: $suaveGrey;

    border: none;
    border-radius: 0;

    &:focus {
      box-shadow: 0 3px 0 0 $mossGreen;
    }

    &.is-valid {
      box-shadow: 0 3px 0 0 $jawsBlue;
    }

    &.email-invalid, &.required-invalid {
      box-shadow: 0 3px 0 0 $passionateRed;
    }
  }

  .button-primary {
    @include anim-focus-blast;

    background-color: $mossGreen;
    border: none;
    border-radius: 0;
    letter-spacing: 0.2rem;
    transition: all .2s cubic-bezier(0, 0, 0, 1.74);

    &:hover{
      background-color: $suaveGrey;
      letter-spacing: 0.4rem;
    }
  }

  .wrapper-input-email {
    position: relative;

    &:before{
      content:"\f0e0";
      font-family: FontAwesome;
      font-size: 18px;
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }
  .wrapper-textarea-message{
    position: relative;

    &:before{
      content:"\f040";
      font-family: FontAwesome;
      font-size: 18px;
      position: absolute;
      top: 5px;
      left: 12px;
    }
  }

  label {
    color: $mossGreen;
    font-weight: 300;
  }

  .validation-notification{

    margin-bottom: 1.5rem;
    padding: 0.7% 3% 0.5% 3%;

    color: $passionateRed;

    font-weight: 400;

    &.email {
      margin-top: -1.5rem;
    }
    &.message {
      margin-top: -22px;
    }
  }

  .contact-icon-row {
    margin-top: 8.333%;

    .fa-stack-1x{
      transition: all 0.1s ease-out;

      &:hover {
        font-size: 1.3em;
        transition: all 0.1s ease-in;
      }
    }
  }
  .contact-icon-column {
    text-align: center;

    .fa-stack-1x {
      color: $milkshakeGreen;
    }

    a{
      color: $mossGreen;
      text-decoration: none;
      @include anim-focus-blast;

      &:hover{
        color: $suaveGrey;
      }
    }
  }

  @media (#{$bp-larger-than-phablet}) {
    background-image: url('#{$imgDir}doodle_02.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top right;
  }
}
