.section.welcome{
  background-color: $jawsBlue;

  color: white;

  h3, p {
    color: $profoundPurple;
  }

  h1,h2,h3 {
    text-shadow: #00A2E5 0px 2px 0px;
  }
  
  h2 {
    font-size: 3.2rem;
    @media (#{$bp-larger-than-tablet}) {
      font-size: 4.6rem;
    }
  }
  h3 {
    font-size: 3rem;
    @media (#{$bp-larger-than-tablet}) {
      font-size: 3.6rem;
    }
  }

  p {
    color: rgb(189, 236, 255);

    letter-spacing: .2rem;
    font-weight: 200;
    font-size: 1.3rem;
    @media (#{$bp-larger-than-tablet}) {
      letter-spacing: .3rem;
      font-weight: 100;
      font-size: 1.7rem;
    }
  }

  h1, h2, h3, p {
    opacity: 0;
    position: relative;
  }
  h1 {
    @include anim-fade-in-view("1200ms", "200ms");
  }
  h2 {
    @include anim-fade-in-view("1200ms", "300ms");
  }
  h3 {
    @include anim-fade-in-view("1200ms", "600ms");
  }
  p {
    @include anim-fade-in-view("1200ms", "900ms");
  }

  .column-introduction{
    margin-top: 2%;
  }
  .inline-navigation {
    margin-top: 2%;

    text-align: center;
    @media (#{$bp-larger-than-tablet}) {
      text-align: left;
    }

    a.button {
      width: 100%;
      @media (#{$bp-larger-than-phablet}) {
        width: auto;
      }
    }
  }

  .button{
    @include anim-focus-blast;

    color: white;
    border-color: white;
    border-radius: 0;

    &:hover {
      background-color: $profoundPurple;
      border-color: $profoundPurple
    }
    &:focus {
      color: white;
    }
  }

  .scroll-down {
    position: absolute;
    bottom: -25px;
    left: calc(50% - 19px);
    font-size: 60px;
    color: #71D5FF;
  }

  @media (#{$bp-larger-than-phablet}) {
    background-image: url('#{$imgDir}doodle_03.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  @media (#{$bp-larger-than-tablet}) {
    background-size: auto 100%;
    background-position: top right;
  }

}
