.section.welcome{
  background-color: #00B4FF;

  color: white;

  h3, p {
    color: $profoundPurple;
  }

  h1,h2,h3 {
    text-shadow: #00A2E5 0px 2px 0px;
  }

  .button{
    color: white;
    border-color: white;
    border-radius: 0;

    &:hover {
      background-color: $profoundPurple;
      border-color: $profoundPurple
    }
    &:focus {
      color: white;
    }
  }

  background-image: url('#{$imgDir}doodle_03.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;


}
