.section.welcome{
  background-color: $jawsBlue;

  color: white;

  h3, p {
    color: $profoundPurple;
  }

  h1,h2,h3 {
    text-shadow: #00A2E5 0px 2px 0px;
  }

  .column-introduction{
    margin-top: 2%;
  }
  .inline-navigation {
    margin-top: 2%;
  }

  .button{
    color: white;
    border-color: white;
    border-radius: 0;

    &:hover {
      background-color: $profoundPurple;
      border-color: $profoundPurple
    }
    &:focus {
      color: white;
    }
  }
  @media (#{$bp-larger-than-phablet}) {
    background-image: url('#{$imgDir}doodle_03.png');
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center right;
  }

  @media (#{$bp-larger-than-tablet}) {
    background-size: auto 100%;
    background-position: top right;
  }

}
