.section.projects{
  $projects: t-mobile, volkswagen, fox-sports, rabobank, klm, sensior;

  background-color: #262626;
  color: #d1d1d1;

  .four.columns {
    padding: 2%;
  }

  .project-leader {
    width: 400px;
    padding-top: 62.5%; // (250px/400px)*100
    display: block;

    span {
      display: none;
    }

    @each $item in $projects {
      &.#{$item} {
        background: url('#{$imgDir}leader_#{$item}.01.png') top center / auto 200% no-repeat;

        &:hover{
          background-position: bottom center;
        }
      }
    }
  }

  background-image: url('#{$imgDir}bg_desktop02.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  background-attachment: fixed;
}
