.section.projects{
  background-color: #262626;

  background-image: url('#{$imgDir}bg_desktop02.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  background-attachment: fixed;

  color: #d1d1d1;

}
