.section.projects{
  $projects:      t-mobile, volkswagen, fox-sports, rabobank, klm,      sensior;
  $projectColors: #E4B9AF,  #7F807F,    #F6F8BE,    #B0BDAF,  #DFEFFA,  #FDEECD;

  background-color: #262626;
  color: #d1d1d1;

  .four.columns {
    padding: 2%;
  }

  .project-leader {
    width: 400px;
    padding-top: 62.5%; // (250px/400px)*100
    display: block;

    cursor: pointer;

    span {
      display: none;
    }

    @each $item in $projects {
      &.#{$item} {
        background: url('#{$imgDir}leader_#{$item}.01.png') top center / auto 200% no-repeat;

        transition: all .5s ease-in-out;

        &:hover{
          background-position: bottom center;
          background-size: auto 210%;

          transition: background-size .2s ease-in-out;
        }
      }
    }
  }

  @each $item in $projects {
    $i: index( $projects, $item );
    &.#{$item} {
      background-color: #{nth($projectColors, $i)};
      background-image: none;
    }
  }

  .container {
    z-index: 500;
  }
  .pageload-overlay {
    z-index: 600;
  }

  background-image: url('#{$imgDir}bg_desktop02.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto;
  background-attachment: fixed;

  .close-project {
    text-decoration: none;
    text-transform: uppercase;

    &:after {
      content: "\f00d";
      font-family: FontAwesome;
      font-size: 22px;
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }
}
