.section.skills{
  background-color: #FFFFFF;
  color: $soilGrey;
  font-weight: 300;

  h4 {
    font-weight: 500;
    color: $passionateRed;

    padding-top: 10%;
    text-align: center;
    @media (#{$bp-larger-than-phablet}) {
      padding-top: 7.5%;
    }
    @media (#{$bp-larger-than-tablet}) {
      padding-top: 0%;
      text-align: left;
    }
  }

  .what-i-offer{
    em{
      font-weight: 600;
      font-variant: small-caps;
      color: $passionateRed;
    }
  }

  .button {
    border-radius: 0;
  }

  p, .fa-ul{
    line-height: 2rem;
    letter-spacing: .05rem;
  }

  .fa-li {
    color: $passionateRed;
    top: 0.25rem;
  }

  @media (#{$bp-larger-than-phablet}) {
    p, .fa-ul{
      line-height: 2rem;
    }
    .fa-li {
      top: 0.3rem;
    }
  }

  @media (#{$bp-larger-than-tablet}) {
    p, .fa-ul{
      line-height: 2.4rem;
    }
    .fa-li {
      top: 0.4rem;
    }
  }

  @media (#{$bp-larger-than-desktop}) {
    p, .fa-ul{
      line-height: 2.8rem;
    }
    .fa-li {
      top: 0.75rem;
    }
  }
}
