$profoundPurple: #4B538B;

$passionateRed: #D60257;

$milkshakeGreen: #CCF390;
$apatheticGreen: #90BE88;
$noNameGreen: #D9EB52;
$mossGreen: #388155;

$jawsBlue: #00B4FF;

$soilGrey: #373B44;

$fruityGravelGrey: #494949;
$tundraBlack: #444444;
$suaveGrey: #383838;
$mineShaftBlack: #262626;

$sheNeverKnewGrey: #D9D9CD;
$patrickBatemanWhite: #d1d1d1;
