$bp-larger-than-mobile    : "min-width: 400px";
$bp-larger-than-phablet   : "min-width: 550px";
$bp-larger-than-tablet    : "min-width: 770px";
$bp-larger-than-desktop   : "min-width: 1030px";
$bp-larger-than-desktophd : "min-width: 1200px";
